@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Montserrat&display=swap');

:root {
    font-family: 'Montserrat', system-ui, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.125rem;
    line-height: 1.5;
    width: min(1000px, 100% - 4rem);
    margin-inline: auto;
    overflow-x: hidden;
}

svg {
    width: 32px;
    height: 32px;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

section {
    padding-top: 1em;
    margin: 1em 0;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}

.slide-left {
    transform: translateX(0);
    opacity: 1;
    transition-property: opacity transform;
    transition: 1s ease-in-out;

    &.hidden {
        opacity: 0;
        transform: translateX(100%);
    }
}

.slide-right {
    transform: translateX(0);
    opacity: 1;
    transition-property: opacity transform;
    transition: 1s ease-in-out;

    &.hidden {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.slide-up {
    opacity: 1;
    transform: translateY(0);
    transition-property: opacity transform;
    transition: 1s ease-out;

    &.hidden {
        opacity: 0;
        transform: translateY(100%);
    }
}

.fade-in {
    opacity: 1;

    &.hidden {
        opacity: 0;
    }
}

.photo {
    position: relative;
    max-width: 600px;
    margin-inline: auto;

    &__name {
        position: absolute;
        bottom: 0.5em;
        color: white;
        width: 100%;
        text-align: center;
    }
}

.icons {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.portfolio {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.card {
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px lightgrey;
    transition: transform 0.2s ease-in-out, opacity 2s ease-in-out;

    &__text-container {
        display: grid;
        grid-template-columns: 1fr max-content;
        padding: 1em;
    }

    &__icon-container {
        display: flex;
        gap: 0.5em;
    }

    &__description {
        grid-column: 1 / -1;
        margin-top: 0.5em;
        color: darkslategrey;
    }

    &:hover {
        transform: scale(1.04);
        
    }
}

.contact {
    .email {
        margin: 1em 0 2em;
        display: flex;
        align-items: center;
        gap: 1em;

        &__anchor {
            text-decoration: none;
            color: purple;

            &:hover + .email__underline {
                transform: scaleX(1) translateY(-3px);
            }
        }

        &__underline {
            border-top: 1px solid purple;
            transform: scaleX(0) translateY(-3px);
            transform-origin: 0;
            transition: transform 0.5s ease-in-out;
        }
    }
}

@media (max-width: 600px) {
    svg {
        width: 24px;
        height: 24px;
    }
}